.accordion-button,
.accordion-button:focus,
.accordion-button:active {
  outline: none !important;
  box-shadow: none !important;

  border: 0 !important;
  color: black !important;
}
.accordion-post-group {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  color: black !important;
}
h1 {
  color: #c63b45;
}
